<mat-form-field appearance="standard">
	<mat-label>Search</mat-label>
	<input class="searchInput" [(ngModel)]="query" type="text" matInput placeholder="Start typing string" (keyup)="search($event)">
</mat-form-field>